.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 50px;
    font-size: 10px;
    text-transform: uppercase;
}

.ant-select-selector {
    background-color: #fbfcfe !important;
}